@import url(./root.css);

.start {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.start div {
    max-width: 50%;
    min-width: 330px;
    margin: 0 0 15px 0;
}

.start p {
    padding: 10px 0 0 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 100%; */
}

.flex-r {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head-img {
    width: 50%;
    min-width: 330px;
    max-width: 700px;
}

.big {
    width: 40%;
}

.bigest {
    width: 30%;
}

.publish {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
    margin-bottom: 4em;
}

.publish_item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 35%;
    min-width: 270px;
    max-width: 598px;
    gap: 10px;
    border-radius: 75px;
    padding: 35px 35px 35px 35px;
    box-shadow: 
    7px 7px 6px var(--purple);
}

.white-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    border-radius: 40px;
    /* height: 100%; */
    height: 100%;
}

.white-box img {
    width: 50%;
}

.white-box p {
    margin: 15px;
}

#openModalBtn1, #openModalBtn2, #openModalBtn3, #openModalBtn4{
    background-color: var(--light-purple);
    padding: 5px;
    border: none;
    border-radius: 10px;
}

#openModalBtn1:hover, #openModalBtn2:hover, #openModalBtn3:hover, #openModalBtn4:hover{
    background-color: var(--purple);
    color: var(--white);
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 35px;
}

.modal-content1, .modal-content4 {
    position: relative;
    margin: 0 auto;
    width: auto;
    min-width: 338px;
    max-width: 700px;
    background-color: var(--orange);
    border-radius: 35px;
    text-align: center;
    overflow: hidden;
}

.modal-content2, .modal-content3 {
    position: relative;
    margin: 0 auto;
    width: auto;
    min-width: 338px;
    max-width: 700px;
    background: linear-gradient(135deg, #B49AE1, #FFD8BF, #C3FD9C);
    border-radius: 25px;
    text-align: center;
    overflow: hidden;
}

.slider {
    display: flex;
    /* overflow: hidden; */
    width: 100%;
    position: relative;
}

.slide1, .slide2, .slide3, .slide4 {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
    box-sizing: border-box;
    padding: 20px 20px 0 20px;
}

.slider-img {
    width: 90%;
    border-radius: 13%;
}

.close {
    position: absolute;
    background-color: var(--white);
    padding: 0 6px;
    border: none;
    border-radius: 50%;
    top: 20px;
    right: 25px;
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
}

.nav-btn {
    padding: 10px 20px;
    background-color: var(--white);
    border: none;
    border-radius: 25px;
    margin: 10px 0;
    cursor: pointer;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mb-25{
    margin-bottom: 25px
}

.blue-a {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.618em;
    padding-top: 20px;
}

.blue-icons {
    width: 50px;
}

.green-orange {
    width: 75%;
    min-width: 330px;
    padding-top: 25px;
}

.subscribe {
    display: none;
}

#about h2 {
    margin-bottom: 30px;
}

#about h3 {
    margin-top: 50px;
    margin-bottom: 30px;
}

#about .p-24 {
    padding: 10px 0;
}

.roles-2 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.last-div {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--green);
    padding: 25px;
    border-radius: 25px;
    margin-bottom: 20px;
}

.grid-1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 7px;
    border-radius: 75px;
    padding: 35px 35px 15px 35px;
    gap: 10px;
}

.shadow_green {
    box-shadow: 
    7px 7px 6px var(--dark-green);
}

.shadow_orange {
    box-shadow: 
    7px 7px 6px var(--dark-orange);
}

.shadow_purple {
        box-shadow: 
    7px 7px 6px var(--purple);
}

.card-1_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 1400px;
    border-radius: 40px;
}

.card-1_div div {
    font-size: 24px;
    padding: 50px;
}

.card-1_div_img {
    width: 50%;
    height: 50%;
    max-width: 400px;
    padding: 50px;
}

.card-1_div_img-purple {
    width: 25%;
    height: 25%;
    max-width: 400px;
    padding: 50px;
}

.card-button {
    background-color: inherit;
    border-radius: 20px;
    border: none;
}

.our-artists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 7px;
}

.card ul {
    list-style: none;
}

.card img {
    width: 40%;
}

.orange-last {
    width: 25%;
    height: 25%;
}

#forparents p {
    line-height: 1.5;
    margin: 5px 0;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    padding: 20px 0;
}

.footer-div {
    display: flex;
    gap: 25px;
    margin-bottom: 10px;
}

.footer-a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-a img {
    width: 36px;
}

.roles-3 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.coloration {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

.coloration-li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.coloration-li-img {
    width: 100%;
    border: solid black 1px;
    border-radius: 15px;
}

@media (max-width: 1275px) {
    .navigation {
        background-color: white;
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0px;
        bottom: 0;
        right: 0;
        z-index: 40;
        height: 100%;
        width: 75%;
        max-width: 350px;
        gap: -5px;
        padding-top: 30px;
        padding-left: 30px;
        background-color: var(--white);
        flex-wrap: nowrap;
        justify-content: flex-start;
        box-shadow: 15px 0px 20px 6px;
        animation: burgerAimation 0.4s;
    }
    
    .select{
        height: 50px;
    }

    .burger {
        display: flex;
        position: relative;
        z-index: 70;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 18px;
        color: var(--white);
        cursor: pointer;
    }
    
    .burger span {
        height: 2px;
        width: 80%;
        background-color: var(--white);
        position: relative;
        transition: transform 0.3s ease;
    }
    
    .burger span::before, .burger span::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: var(--white);
        transition: transform 0.3s ease;
    }
    
    .burger span::before {
        top: -8px;
    }
    
    .burger span::after {
        bottom: -8px;
    }
    
    .burger.active span {
        background-color: transparent;
    }
    
    .burger.active span::before {
        transform: translateY(8px) rotate(45deg);
        background-color: var(--black);
    }
    
    .burger.active span::after {
        transform: translateY(-8px) rotate(-45deg);
        background-color: var(--black);
    }
    
    .open{
        display: flex !important;
        align-items: flex-start;
    }

    .open a {
        color: var(--orange);
    }
    
    .orange-last {
        display: none;
    }

    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.5em;
    }
    p {
        font-size: 1em;
    }
    .p-24 {
        font-size: 1em;
    }
    .blue-a {
        font-size: 1em;
    }
    .blue-icons {
        width: 36px;
    }
    #about .flex-r {
        margin-bottom: 25px;
    }
    .green-orange {
        display: none;
    }
    .subscribe {
        display: block;
        width: 75%;
        min-width: 330px;
        padding-top: 25px;
    }
    .card-1_div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card-1_div div {
        font-size: 24px;
        padding: 30px 30px 0 30px;
    }
    .card-1_div_img {
        padding: 0 0 30px 0;
    }
}

@media (max-width: 678px) {
    .hidden-678 {
        display: none;
    }
    .card-1_div div p {
        font-size: 18px;
    }
    .card-1_div div h3 {
        font-size: 24px;
    }
}